    <footer>
        <div class="information">
            <div class="footer_inform">
                <p class="apostrophe2">CONTACT us</p>
                <p class="link_info1">Beryoga, Jl. Sudirman<br>
                    no. 129, Tebet<br>
                    Jakarta Selatan<br>
                    <br>
                    .beryoga@yuk.com<br>
                    0812 6824 2856 (Main)<br>
                    (072) 2673842 (Toll-free)</p>
            </div>
            <div class="footer_inform">
                <p class="apostrophe2">About us</p>
                <ul class="footer_inform1">
                    <li class="link_info"><a href="">Our Mission</a></li>
                    <li class="link_info"><a href="">Our Team</a></li>
                    <li class="link_info"><a href="">Management</a></li>
                    <li class="link_info"><a href="">Policies</a></li>
                </ul>
            </div>
            <div class="footer_inform">
                <p class="apostrophe2">Our Programs</p>
                <ul class="footer_inform1">
                    <li class="link_info"><a href="">Yoga Class</a></li>
                    <li class="link_info"><a href="">Bikram Yoga</a></li>
                    <li class="link_info"><a href="">Acro Yoga</a></li>
                    <li class="link_info"><a href="">Sveda Yoga</a></li>
                    <li class="link_info"><a href="">Yo Mama</a></li>
                </ul>
            </div>
            <div class="footer_inform">
                <p class="apostrophe2">support trails</p>
                <ul class="footer_inform1">
                    <li class="link_info"><a href="">Donate</a></li>
                    <li class="link_info"><a href="">Individual Membership</a></li>
                    <li class="link_info"><a href="">Gift membership</a></li>
                    <li class="link_info"><a href="">Hiker Store</a></li>
                </ul>
            </div>
        </div>
        <div>
            <p class="copyright">Copyright © 2019 BerYoga All rights reserved.</p>
        </div>
    </footer>

    <script src="js/bundle.js"></script>
    </body>

    </html>