<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="favicon/favicon.ico" />
    <link rel="stylesheet" href="css/style.bundle.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>

<body>
    <header>
        <div class="logo">BerYoga</div>
        <div class="nav_menu">
            <nav>
                <a href="">Home</a>
                <a href="">About Us</a>
                <a href="">Contact</a>
                <a href="">Pricing</a>
            </nav>
            <button class="login">Login</button>
        </div>
    </header>