<% var data = {
  title: "Custom Select Box",
  author: "vipersteel"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
    <div class="pre_content">
        <div>
            <img class="top_leaf2" src="img/top3.png">
        </div>
        <div class="content">
            <p class="heading">Beautiful videos.<br> Become your best self with BerYoGa.</p>
            <p class="text">For me, BerYoga is more than just a sport – it is lifestyle, a state mind, a philosophy.<br>
                Now I decided to open BerYoga so that I can share my love and joy of bikram yoga. It is my hope that you
                too can discover all the positive impacts of bikram yoga and make bikram yoga as a part of your life.
            </p>
            <div>
                <button class="button_service button-top">Servise</button>
                <button class="button_singup button-top">Sing Up</button>
            </div>
        </div>

        <div class="top_png">
            <img class="girl_png" src="img/top1.png">
            <img class="top_leaf" src="img/top2.png">
        </div>
    </div>

    <div>
        <div class="main_inform1">
            <p class="main_heading1 main_heading">What’s on BerYoga?</p>
            <p class="main_text main_text1">Access hundreds of online yoga classes shot in natural
                studios around the world. Unlimited access for $150/Years.</p>
        </div>
        <div class="main_inform2">
            <div>
                <img src="img/inform1_1.png" class="img_inform1">
                <p class="main_heading2 main_heading">Lifetime Updates</p>
                <p class="main_text main_text1 main_text2">Free lifetime updates for our lates collection.</p>
            </div>
            <div>
                <img src="img/inform1_2.png" class="img_inform1">
                <p class="main_heading2 main_heading">Anywhere Videos</p>
                <p class="main_text main_text1 main_text2">Access world-class online yoga videos
                    can be seen on the appli- cation & web</p>
            </div>
            <div>
                <img src="img/inform1_3.png" class="img_inform1">
                <p class="main_heading2 main_heading">Access Unlimited</p>
                <p class="main_text main_text1 main_text2">Find lots of yoga video tutorials, from all over the
                    world</p>
            </div>
        </div>
    </div>

    <div>
        <div class="main_inform3">
            <div>
                <img src="img/1.png" class="picture">
            </div>
            <div>
                <p class="main_heading1">What’s on BerYoga?</p>
                <dl>
                    <dt class="main_heading2">
                        <img src="img/ceklist.png">
                        New Classes Every Week
                    </dt>
                    <dd class="main_text">Discover hundreds of classes in our library. Save your fa-<br>
                        vorites, try new styles
                        and
                        customize your routine to fit your schedule.</dd>
                    <dt class="main_heading2">
                        <img src="img/ceklist.png">
                        Series
                    </dt>
                    <dd class="main_text">Our multi-class series are designed to help you
                        achieve your fitness and wellness goals.</dd>
                    <dt class="main_heading2">
                        <img src="img/ceklist.png">
                        Pose Directory
                    </dt>
                    <dd class="main_text">Get step-by-step instructions on poses and
                        sequences in our extensive video pose directory.
                    </dd>
                </dl>
            </div>
        </div>
        <div class="main_inform3">
            <div class="main_inform3_1">
                <p class="apostrophe">By Brittany Risherjan _____</p>
                <p class="main_heading1">The Healing Power of Trauma-Informed Yoga Classes.</p>
                <div class="main_text3">
                    <p class="main_text">Celebrating five years of service, the nonprofit Exhale to
                        Inhale brings
                        free,
                        trauma-informed yoga classes
                        to rape crisis centers and domestic violence shelters in Jakarta.</p>
                    <a href="#" class="read_more">Read more></a>
                </div>
            </div>
            <div>
                <img src="img/2.png" class="picture">
            </div>
        </div>
        <div class="main_inform3">
            <div>
                <img src="img/3.png" class="picture">
            </div>
            <div class="main_inform3_2">
                <p class="main_heading1">5 Ways to Make Every Yoga Class
                    More Restorative and Therapeutic</p>
                <div class="main_text3">
                    <p class="main_text main_text4"> In part four of our series on teaching
                        trauma-sensitive yoga,
                        teacher Daniel Sernicola
                        shares five practices to help your students get grounded and cultivate mindfulness.
                    </p>

                    <p class="main_text main_text4">Teachers, need liability insurance? As a
                        TeachersPlus
                        member, you can access low-cost
                        coverage and more than a dozen valuable benefits that will build your skills and
                        business.
                        Enjoy a free subscription to YJ, a free profile on our national directory, exclusive
                        webinars and content packed with advice, discounts on educational resources and gear,
                        and
                        more</p>
                    <a href="#" class="read_more">Read more ></a>
                </div>
            </div>
        </div>
    </div>

    <div class="price">
        <div class="price_back">
            <div class="price-1_1 price_text">
                <p class="text_decoration"><img src="img/ceklist-2.png" class="ceklist2"> Unlimitied Access
                    Video</p>
                <p class="text_decoration"><img src="img/ceklist-2.png" class="ceklist2">Saved Videos</p>
                <p class="text_decoration"><img src="img/ceklist-2.png" class="ceklist2">Ofline Access</p>
            </div>
            <div class="price-1_2">
                <p class="dollar">$</p>
                <p class="unit_price">15</p>
                <p class="period">/Mo</p>
            </div>
            <p class="price_disclaimer">Billed monthly</p>
            <button class="button_price1 button_price">Become A Member</button>
        </div>
        <div class="price_premium price_back">
            <div class="bestseller_back">
                <p class="bestseller">best seller</p>
            </div>
            <div class="price-2_1 price_text">
                <p class="text_decoration"><img src="img/ceklist-3.png" class="ceklist2">Unlimitied Access Video
                </p>
                <p class="text_decoration"><img src="img/ceklist-3.png" class="ceklist2">Saved Videos</p>
                <p class="text_decoration"><img src="img/ceklist-3.png" class="ceklist2">Ofline Access</p>
            </div>
            <div class="price-2_2">
                <p class="dollar">$</p>
                <p class="unit_price">150</p>
                <p class="period">/Year</p>
            </div>
            <p class="price_disclaimer">Biled a one year - Save 45%</p>
            <button class="button_price2 button_price">Become A Member</button>
        </div>
        <div class="price_back">
            <div class="yogaclass_back">
                <p class="yogaclass">Yoga Class</p>
            </div>
            <div class="price-3_1 price_text">
                <p class="text_decoration"><img src="img/ceklist-2.png" class="ceklist2">Only Yoga Class</p>
                <p class="text_decoration"><img src="img/ceklist-2.png" class="ceklist2">Unlimitied Access Video
                </p>
            </div>
            <div class="price-3_2">
                <p class="dollar">$</p>
                <p class="unit_price">5</p>
                <p class="period">/Mo</p>
            </div>
            <p class="price_disclaimer">Billed monthly</p>
            <button class="button_price3 button_price">Become A Member</button>
        </div>
    </div>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>