@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
        url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

body,
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    background: whitesmoke;
    z-index: 0;
    position: relative;
}

header {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav_menu {
        margin-right: 145px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    div nav a {
        margin-left: 50px;
        text-decoration: none;
        font-size: 18px;
        color: rgba(28, 32, 86, 0.502);
        cursor: pointer;

        &:active {
            color: rgb(255, 106, 109);
        }

        &:hover {
            color: rgb(255, 106, 109);
        }
    }
}

.logo {
    color: rgb(255, 106, 109);
    font-size: 22px;
    font-weight: 900;
    margin-left: 12%;
}

.login {
    margin-left: 125px;
    background-color: rgb(255, 106, 109);
    border: none;
    border-radius: 25px;
    height: 35px;
    width: 100px;
    outline: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 16px;
    box-shadow: 0 0 13px 1px rgba(255, 0, 5, 0.19);

    &:active {
        box-shadow: none;
    }
}

main {
    width: 100%;

    div div dl {
        width: 65%;
        line-height: 2.3;

        dt {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                display: block;
                max-width: 25px;
                float: left;
                margin-right: 20px;
            }
        }

        dd {
            margin-left: 45px;
        }
    }
}

.pre_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .content {
        margin-top: 150px;
        width: 30%;
    }
}

.top_png {
    display: flex;

    .girl_png {
        display: block;
        max-height: 525px;
        max-width: 505px;
    }

    .top_leaf {
        display: block;
        max-width: 190px;
        max-height: 400px;
        margin-top: -4%;
    }
}

.top_leaf2 {
    display: block;
    max-width: 180px;
    max-height: 280px;
    margin-top: 80%;
}

.heading {
    width: 490px;
    font-size: 45px;
    color: rgb(59, 56, 56);
    font-weight: 900;
    margin-bottom: 25px;
}

.text {
    width: 450px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.651);
    line-height: 2.3;
}

.button-top {
    margin-top: 55px;
    font-size: 16px;
    cursor: pointer;
    height: 65px;
    width: 180px;
    outline: none;
    border-radius: 35px;

    &:active {
        box-shadow: none;
    }
}

.button_service {
    background-color: rgb(255, 106, 109);
    border: none;
    color: rgb(255, 255, 255);
    box-shadow: -5px 5px 20px 1px rgba(226, 88, 91, 0.45);
}

.button_singup {
    background: none;
    border: 2px solid rgb(255, 106, 109);
    margin-left: 30px;
    box-shadow: -5px 5px 20px 0.5px rgba(227, 94, 108, 0.45);
    color: rgb(248, 42, 86);
}

.main_inform1 {
    width: 45%;
    margin: 0 auto;
    margin-top: 450px;
}

.main_heading {
    text-align: center;
    color: rgb(59, 56, 56);
    font-weight: 900;
    margin: 70px 0 20px 0;
}

.main_heading1 {
    font-size: 38px;
    margin: 0 0 6% 0;
}

.main_text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.651);
    line-height: 2.3;
}

.main_text1 {
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

.main_text2 {
    line-height: 1.5;
}

.main_inform2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    margin-top: 8%;
}

.main_heading2 {
    font-size: 20px;
}

.img_inform1 {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
}

.main_inform3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 180px;

    .main_inform3_1 {
        width: 60%;
        margin-left: 30%;
    }

    .main_inform3_2 {
        width: 75%;
    }
}

.picture {
    display: block;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.apostrophe {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.51);
    margin-bottom: 0;
}

.main_text3 {
    width: 75%;
    margin: 0 auto;
}

.read_more {
    color: rgb(60, 190, 241);
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    z-index: 10;
    position: relative;
    line-height: 6;
    width: 60%;
    margin: 0 auto
}

.main_text4 {
    text-indent: 50px;
}

.price {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 180px auto;
}

.price_back {
    background: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s linear;
    width: 315px;
    height: 520px;
    margin: 0 auto;
    box-shadow: 0 0 20px 5px rgba(255, 106, 109, 0.15);

    &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.price_premium {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.price_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 4;
}

.text_decoration {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #6c6a6a;
    font-size: 16px;
}

.ceklist2 {
    width: 30px;
    margin-right: 20px;
}

.bestseller_back {
    width: 100%;
    height: 75px;
    background: rgb(255, 106, 109);
    border-radius: 20px 20px 0 0;
}

.bestseller {
    font-size: 30px;
    line-height: 75px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: rgb(251, 252, 252);
    font-weight: 800;
}

.yogaclass_back {
    width: 100%;
    height: 75px;
}

.yogaclass {
    font-size: 20px;
    font-weight: 800;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 0;
    color: #6c6a6a;
}

.price-1_1 {
    margin-top: 80px;
}

.price-2_1 {
    margin-top: 5px;
}

.price-3_1 {
    margin-top: 5px;
}

.price-1_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.price-2_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.price-3_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.dollar {
    margin-right: 5px;
    font-size: 34px;
    color: #6c6a6a;
}

.unit_price {
    font-size: 80px;
    color: #6c6a6a;
}

.period {
    font-size: 20px;
    margin-top: 65px;
    color: #6c6a6a;
}

.price_disclaimer {
    margin-top: 8px;
    color: #6c6a6a;
    font-size: 13px;
}

.button_price {
    border-radius: 40px;
    height: 50px;
    width: 150px;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 12px;
    margin-top: 20px;
    transition: 0.1s linear;

    &:active {
        box-shadow: none;
    }
}

.button_price1 {
    box-shadow: -5px 10px 10px 1px rgba(95, 206, 244, 0.29);
    color: rgb(251, 252, 252);
    background: linear-gradient(45deg, #5fcef5, #83e4fc);
}

.button_price2 {
    box-shadow: -5px 10px 10px 1px rgba(226, 88, 91, 0.29);
    color: rgb(251, 252, 252);
    background: rgb(255, 106, 109);
}

.button_price3 {
    box-shadow: -5px 10px 10px 1px rgba(95, 206, 244, 0.29);
    color: rgb(251, 252, 252);
    background: linear-gradient(45deg, #21acdd, #9ddae9);
}

footer {
    width: 100%;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}

.footer_inform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.footer_inform1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.apostrophe2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    color: rgba(46, 46, 46, 0.702);
    line-height: 2;
}

.link_info {
    margin: 0;
    line-height: 1.8;
    margin-top: 10px;

    a {
        font-size: 14px;
        color: rgba(46, 46, 46, 0.702);
        text-decoration: none;
        text-transform: none;
        cursor: pointer;

        &:hover {
            background: rgba(45, 50, 46, 0.3);
            border-radius: 3px;
        }
    }
}

.link_info1 {
    font-size: 16px;
    color: rgba(46, 46, 46, 0.702);
}

.copyright {
    font-size: 16px;
    color: rgba(46, 46, 46, 0.702);
    text-align: center;
    margin: 3% 0 1% 0;
}

@media screen and (max-width: 1200px) {
    .text {
        width: 84%;
    }
}